<footer class="mt-auto py-3 bg-secondary">
    <div class="container d-flex justify-content-between">
        <p class="text-light">&copy; 2022 <a class="text-light" href="https://erikateal.com/" target="_blank">Erika Teal</a> All Rights Reserved</p>
        <div class="mb-0">
            <a class="text-light" href="https://github.com/erikateal/skintimate" target="_blank">
                <i class="fab fa-github fa-2x"></i>
            </a>
            &nbsp; 
            &nbsp; 
            <a class="text-light" href="https://linkedin.com/in/erika-teal" target="_blank">
                <i class="fab fa-linkedin-in fa-2x"></i>
            </a>
        </div>
    </div>
</footer>
</body>
</html>