<%- include('partials/header') -%>

<head>
  <link rel="stylesheet" href="/css/style.css" />

    <!-- Bootstrap CSS file -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Owl Carousel CSS file-->
    <link rel="stylesheet" href="/vendor/owl-carousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/vendor/owl-carousel/css/owl.theme.default.min.css">
</head>

<div>
  <img class="img-fluid" src="/imgs/header_image.jpg" alt="">
  <h1 class="carousel-caption">You glow, girl.</h1>
</div>

 <div class="container">
  <h2>Resources</h2>
  <section class="testimonials-home">
    <div class="testimonials">
      <section class="about-area">
        <div class="container-fluid">
          <div class="row">
            <div class="container carousel py-lg-5">
              <div class="owl-carousel owl-theme">
              
                <div class="client row">
                  <div class="col-lg-8 col-md-12 about-client">
                    <iframe width="475" height="315" src="https://www.youtube.com/embed/38r-wVtSjqw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                </div>

                <div class="client row">
                  <div class="col-lg-8 col-md-12 about-client">
                    <iframe width="475" height="315" src="https://www.youtube.com/embed/aoYCdaKcDxY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                </div>

                <div class="client row">
                  <div class="col-lg-8 col-md-12 about-client">
                    <iframe width="475" height="315" src="https://www.youtube.com/embed/Q0xj8CbmURE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                </div>

                <div class="client row">
                  <div class="col-lg-8 col-md-12 about-client">
                    <iframe width="475" height="315" src="https://www.youtube.com/embed/YgYE3BbyAiQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                </div>

                <div class="client row">
                  <div class="col-lg-8 col-md-12 about-client">
                    <iframe width="475" height="315" src="https://www.youtube.com/embed/TJv3-2yYfvs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                </div>


                <div class="client row">
                  <div class="col-lg-8 col-md-12 about-client">
                    <iframe width="475" height="315" src="https://www.youtube.com/embed/AV1qfb2r0FU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                </div>

                <div class="client row">
                  <div class="col-lg-8 col-md-12 about-client">
                    <iframe width="475" height="315" src="https://www.youtube.com/embed/-W0GPZb1hWg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                </div>

                <div class="client row">
                  <div class="col-lg-8 col-md-12 about-client">
                    <iframe width="475" height="315" src="https://www.youtube.com/embed/8dAXwRRobeE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                </div>

                <div class="client row">
                  <div class="col-lg-8 col-md-12 about-client">
                    <iframe width="475" height="315" src="https://www.youtube.com/embed/jGDMnozdD1Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                </div>

                <div class="client row">
                  <div class="col-lg-8 col-md-12 about-client">
                    <iframe width="475" height="315" src="https://www.youtube.com/embed/W9VQ5FsEJC8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                </div>

                <div class="client row">
                  <div class="col-lg-8 col-md-12 about-client">
                    <iframe width="475" height="315" src="https://www.youtube.com/embed/xKtRZR0lf5I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                </div>

                <div class="client row">
                  <div class="col-lg-8 col-md-12 about-client">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/95tL5XEM2J4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                </div>

                <div class="client row">
                  <div class="col-lg-8 col-md-12 about-client">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/XunFYHheVO8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                </div>

                <div class="client row">
                  <div class="col-lg-8 col-md-12 about-client">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/x94i2JPjPHM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                </div>

                <div class="client row">
                  <div class="col-lg-8 col-md-12 about-client">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/lJjhVwPPziA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                </div>

                <div class="client row">
                  <div class="col-lg-8 col-md-12 about-client">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/73S3D1afylM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                </div>

                <div class="client row">
                  <div class="col-lg-8 col-md-12 about-client">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/aeAmktAGSGI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                </div>

                <div class="client row">
                  <div class="col-lg-8 col-md-12 about-client">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/38r-wVtSjqw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                </div>

                <div class="client row">
                  <div class="col-lg-8 col-md-12 about-client">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/RzEjFZmTv54" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                </div>

                <div class="client row">
                  <div class="col-lg-8 col-md-12 about-client">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/JLPaI0jAQ60" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                </div>

                <div class="client row">
                  <div class="col-lg-8 col-md-12 about-client">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/r7VJpaTQh0w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                </div>

                <div class="client row">
                  <div class="col-lg-8 col-md-12 about-client">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/BwqkmUjy_Kw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                </div>

                <div class="client row">
                  <div class="col-lg-8 col-md-12 about-client">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/FI-ZY3si_QY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>



</div>

		<!-- Jquery JS file -->
		<script src="/js/jquery.3.6.0.js"></script>

		<!-- Bootstrap JS file -->
		<script src="/js/bootstrap.min.js  "></script>

		<!-- Owl Carousel JS file-->
		<script src="/vendor/owl-carousel/js/owl.carousel.min.js"></script>

		<!-- Custom JS file -->
		<script type="text/javascript" src="/js/main.js"></script>

<%- include('partials/footer') -%>