<%- include('partials/header') -%>

<head>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<div>
  <img class="img-fluid" src="/imgs/header_image.jpg" alt="">
</div>


<%- include('partials/footer') -%>