.bg-image {
  background:url("/public/imgs/skincare.jpg");  
	height: 1000px;    
  background-repeat:no-repeat;
  overflow-y: hidden;
  overflow-x: hidden;
 }

/* CAROUSEL */ /* CAROUSEL */ /* CAROUSEL */ /* CAROUSEL */ /* CAROUSEL */ 

.about-area .client .about-client h4{
  font: normal 500 21px/ 20px var(--roboto);
}

.about-area .client .about-client p{
  font-size: 15px;
  width: 75%;
  margin: 0 auto;
}

.about-area .owl-carousel .owl-item{
  display: flex;
  justify-content: center;
  padding: 0 1.5rem;
}